<<<<<<< HEAD
=======
/* body {
    background-color: antiquewhite;
} */
>>>>>>> 5205642dc4a6b91af664e7433514a408b76a2b53

#back {

  margin: 5;
  padding: 0;
  align-items: center;
  width:80%;
  height:auto;
}
