.post{
  padding-left: 10px;
  text-align:center;
  width:250px;

}

#login{
  padding-top: 5%;
  width: 300px;
  
  text-align: center;
  margin: 0 auto;
}
#pass{
  padding-top: 25px;
  width: 300px;

  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

#others{
  
  text-align: center;
  margin: 0 auto;

}