*{
    color:#00adb5;
    font-family: 'Unica One', cursive;

}

body {
    background-color: #393e46;
}

h1 {
    text-align: center;
    color: #a6e3e9;
}

#nav{
    background-color: #222831;
}

#alignment {
    text-align: center;
}
